            body,h1,h2,h3,h4,h5,ul,li,a,p,span,img,dd{margin:0;padding:0;list-style:none;text-decoration:none;border:none;outline:none;vertical-align:baseline;}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1em;
    padding-bottom: 5px;
}
html,body{
    height:100%;
}
            body{
                color:#7A7575;
            }
            #sidebar{
                position:fixed;
                width:26%;
                height:100%;
                background-color:#459E63;
            }
            .oi{
                padding:15.1%  9% 0px 9%;
            
            }
            #container{
                margin-left:26%;
                width:74%;
                background-color:#F5F1E4;
                min-height:100%;
            }
            #inner{
                padding-top:6%;
            }
/*#container:after{*/
    /*content:".";*/
    /*height:0;*/
    /*visibility:hidden;*/
    /*display:block;*/
    /*clear:both;*/
/*}*/
#container-inner{
    margin-left:auto;
    margin-right:auto;
    width:90%;
}
            #footer{
                position:fixed;
                bottom:0;
                height:6%;
                width:26%;
                left:0;
                right:0;
            }
            #fleft{
                width:100%;
                height:100%;
                background:#235032;
            }
            #fright{
                background:black;
            }

            .oi-footer{
                padding:5px;
            }
            #search-input{
                background: none repeat scroll 0% 0% transparent;
                border: medium none;
            }
            #search-form{
                margin:30px 0 0 0;
                background: url("https://lh6.googleusercontent.com/-XddNEOGCeQk/UEsSBq5Y6GI/AAAAAAAADlU/ykXt8G9jU4M/s191/search-bg.png") repeat-x scroll 0% 0% transparent;
            }
            nav li{
                color: #FFF;
font: 1.25em "Oswald","sans-serif",Arial,Verdana;
transition: border-color 0.2s linear 0s;
<!--padding: 0px 15px 0px 25px;-->
margin:10px,0;
margin-bottom: 10px;
text-transform: uppercase;
            }
            h3#logo-sub{
color: #F9EFB7;
font-size: 1.1em;
line-height: 140%;
margin: 10px 0px 10px 0px;
text-transform: uppercase;
font-family: sans-serif;
text-align:center;
            
            }
            nav{
                margin:30px 0px;
            }
#sidebar hr, #main hr {
    border-style: solid;
    border-color: #FFF;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px 0px;
    margin: 0px;
    padding: 0px;
    opacity: 0.15;
}
        #logo img{
            margin:0 auto;
            display:block;
        }
        .article{
            position:relative;
        }
        .main{
            width:66.67%;
        }
        .main img{
            width:100%;
        }
        .sub{
            width:33.33%;
        }
        .oi-sub{
            margin-left:13px;
            margin-right:13px;
            background:white;
            position:relative;
            margin-bottom:25px;
        }
        .sub img{
            width:100%;
            border-bottom: 1px solid #F5F1E4;
        }
        .tag{
            background:#459E63;
            position:absolute;
            right:0;
            top:0;
            width:40%;
        }
        .tag p{
            font-size: 16px;
            color: #FFF;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Oswald",Arial;
            text-align: center;
            padding:5%;
        }
        .content{
            padding:15px;
            overflow:hidden;
        }
        #manage{
            position:absolute;
            top:0;
            right:0;
            background:#2C6D7F;
            color:white;
        }
        #manage a{
            color: white;
        }
        #manage li{
            float: right;
            padding: 10px 15px;
            /*border: 3px solid #F5F1E4;*/
        }
        #manage li+li{
            border-right:3px solid #F5F1E4;
        }
        #back{
            background:#F5F1E4;
            position: absolute;
            left: 26%;
            width: auto;
            right: 0;
            min-height:100%;
            padding-top: 5%;
        }

        nav li a{
            color:white;
            font-size:1.5em;
        }
        nav li a:hover{
            font-size:2.5em;
            color:white;
        }
        .hr{
            background: url(static/img/hr-bg.png) repeat-x scroll 0 0 transparent;
            height: 1px;
            margin-bottom: 6px;
            border-bottom: 1px dashed grey;
        }
        #post-text{
            float:left;
            width:68%;
        }
        #post-text img{
            width:100%;
        }
        .post-title{
            text-align: center;
            margin-bottom: 10px;
            color: #161616;
            font-size: 29px;
            text-transform: uppercase;
            font-family: "Oswald" , Arial;
            letter-spacing: 0.1px;
        }
        .created_time{
            text-align: right;
            color: #8B8B8B;
            font-size: 13px;
            text-transform: uppercase;
            font-family: 'Oswald' , Arial;
        }
        #post-content{
            margin-top:30px;
        }
        #info-panel{
            float:right;
            width:29%;
        }
        #front{
            width:90%;
            background:white;
            margin-right:auto;
            margin-left:auto;
            padding:3%;
            margin-bottom:5%;
        }
#front:after{
    content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}
    #fleft .footer-text{
        /*margin-right: 5%;*/
        /*float: right;*/
        text-align:center;
    }
    #fright .footer-text{
        margin-right: 5%;
        float: right;
    } 
    .title{
        color: #222;
        font-size: 19px;
        text-transform: uppercase;
        font-family: 'Oswald', 'sans-serif', Arial, Verdana;
        letter-spacing: 0.1px;
        text-align:center;
    }
