{% extends 'base.html' %}
{% block content %}
        <div id="front">
        <form method="post" action="/api/blogs" enctype="multipart/form-data">
            <div class="form-group">
            <label for="title">标题</label>
                <input class="form-control" type="text" name="title"/>
            </div>
            <div class="form-group">
            <label for="content">正文</label>
            <textarea rows="20" class="form-control" name="content"></textarea></br>
            </div>
            <div class="form-group">
            <label for="tags">标签</label>
            <input class="form-control" type="text" name="tags" />
            <p class="help-block">多个标签请用空格隔开</p>
            </div>
            <div class="form-group">
            <label for="image">上传图片</label>
            <input  type="file" name="image"/>
            </div>
            <button type="submit" class="btn btn-success">发布</button>
        </form>
        </div>
{% endblock%}
