{% extends 'base.html' %}
{% block content %}
        <form method="post" action="/api/blogs" enctype="multipart/form-data">
            <label for="title">标题</label>
                <input type="text" name="title"/></br>
            <label for="content">正文</label>
            <textarea name="content"></textarea></br>
            <label for="tags">标签</label>
            <input type="text" name="tags" />
            <label for"tags">多个标签请用空格隔开</label>
            </br>
            <label for="image">上传图片</label>
            <input type="file" name="image"/></br>
            <input type="submit"name="提交"/>
        </form>
{% endblock%}
