<!doctype html>
<html>
    <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/jblog.css">
    <title>Jiffies's Blog</title>
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/jblog.js"></script>
    </head>
    <body>
        <div id="sidebar">
        <aside class="oi">
            <div id="logo">
                <a href="/"><img src="/static/img/z.png"> </img></a>
            </div>
            <h3 id="logo-sub">jiffies'Blog</h3>
            <hr></hr>
            <nav>
                <ul>
                    <li><a href="/">主页</a></li>
                    <li><a href="/">博客</a></a></li>
                    <li><a href="/">照片</a></li>
                    <li><a href="/">关于</a></li>
                </ul>
            </nav>
            <hr></hr>
            <div id="search-form">
                <form>
                    <input type="text" id="search-input">
                </form>
            </div>
            <ul id="social-icons"></ul>

        </aside>
        </div>
        <div id="container">
            <div id="inner">
        {% block content %}
        {% endblock %}
                <div id="fright">
                    <div class="f-oi">
                        <p class="footer-text">Powered by Jiffies<p>
                    </div>
                </div>
            </div>
        </div>

        <div id="manage">
            <ul>
                <li>
            {% if user %}
            <p><a href="/signout">Logout</a></p>
            {% else %}
            <p><a href="/signin">Login</a></p>
            {% endif %}
            </li>
                <li><p><a href="/manage/add_blog">Add</a></p></li>
                {% if blog and user %}
                <li><p><a class="a_post" href="/manage/delete/{{blog.id}}">Delete</a></p></li>
                {% endif %}
                {% if blog and user %}
                <li><p><a href="/manage/edit/{{blog.id}}">Edit</a></p></li>
                {% endif %}
            </ul>
        </div>
        <footer id="footer">
            <!--<div class="oi-footer">-->
                <div id="fleft">
                    <div class="f-oi">
                        <p class="footer-text">ALL RIGHTS RESERVED 2015<p>
                    </div>
                </div>


            <!--</div>-->
        </footer>
    </body>
</html>
