{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/jqcloud.css" />
    <script type="text/javascript" src="/static/js/jqcloud-1.0.4.min.js"></script>
    <script type="text/javascript">
        var word_array = [
            {% for tag in tags %}
{text:"{{tag.name}}",weight:{{tag.number}},link:"/tag/{{tag.id}}"},
            {% endfor %}
        ];
$(function(){
        $('#tag_cloud').jQCloud(word_array);
        });
    </script>
{% endblock %}
{% block content %}
        <div id="front">
            <div id="post-text">
            <h1 class="post-title">{{blog.title}}</h1>
            <h3 class="created_time">{{blog.created_at|datetime}}</h3>
            <div class="hr"></div>
            <img src="{{blog.image}}"></img>
            <div id="post-content">{{blog.content|safe}}</div>
            <div class="hr"></div>
            </div>
            <div id="info-panel">
                <h3>TAGS:</h3>
                {% for tag in blog.tags %}
                <a href="/tag/{{tag.id}}"><span class="tags">{{tag.name}}</span></a>
                {% endfor %}
                <div id="tag_cloud" ></div>
            </div>
            <!-- UY BEGIN -->
            <div class="clearfix"></div>
            <script type="text/javascript">
                var uyan_config = {
                    'du':'{{ review['domain'] }}'
                };
            </script>
            <div id="uyan_frame"></div>
            <script type="text/javascript" src="{{ review['url'] }}"></script>
            <!-- UY END -->
        </div>
{% endblock%}
{% block confirm %}
            <div class="modal fade" id="confirm" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                            <h4 class="modal-title">删除</h4>
                        </div>
                        <div class="modal-body">
                            <p>你确定要继续删除这篇博客么？</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" data="/manage/delete/{{blog.id}}" class="a_post btn btn-primary">确定</button>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
