{% extends "base.html" %}
{% block content %}
        <div id="front">
            <div id="post-text">
            <h1 class="post-title">{{blog.title}}</h1>
            <h3 class="created_time">{{blog.created_at|datetime}}</h3>
            <div class="hr"></div>
            <img src="{{blog.image}}"></img>
            <div id="post-content">{{blog.content|safe}}</div>
            <div class="hr"></div>
            </div>
            <div id="info-panel">
                <h3>TAGS</h3>
                {% for tag in tags %}
                <p>{{tag.name}}</p>
                {% endfor %}
            </div>
            <!-- UY BEGIN -->
            <div class="clearfix"></div>
            <script type="text/javascript">
                var uyan_config = {
                    'du':'code4awesome.sinaapp.com'
                };
            </script>
            <div id="uyan_frame"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2011427"></script>
            <!-- UY END -->
        </div>
{% endblock%}
