{% extends "base.html" %}
{% block content %}
            <div id="container-inner">
            <div class="main article">
                <div class="oi-sub">
                <div class="tag">
                    <p>BUSINESS</p>
                </div>
                <a href="/blog/{{main.id}}">
                <img src="{{main.image}}"></img>
                </a>
                <div class="content">{{main.content | safe}}</div>
                </div>
            </div>
            {% for blog in sub %}
            <div class="sub article">
                <div class="oi-sub">
                <div class="tag">
                    <p>BUSINESS</p>
                </div>
                <a href="/blog/{{blog.id}}">
                <img src="{{blog.image}}"></img>
                </a>
                <div class="content">{{blog.content | safe}}</div>
                </div>
            </div>
            {% endfor %}
            </div>
{% endblock %}
